# Entorno virtual
.venv/

# Archivos compilados de Python
__pycache__/
*.py[cod]

# Base de datos SQLite
instance/ecommerce.db

# Variables de entorno
.env

# Configuración de VS Code
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db