<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Mi Ecommerce{% endblock %}</title>
</head>

<body>

    <header>

        <h2>Mi Ecommerce</h2>

        <nav>
            <a href="{{ url_for('inicio') }}">Inicio</a> | 

            {% if "usuario" in session %}
                <a href="{{ url_for('perfil') }}">Mi perfil</a> |
                <a href="{{ url_for('logout') }}">Cerrar Sesión</a> |
            
            {% else %}
                <a href="{{ url_for('login') }}">Login</a> |
                <a href="{{ url_for('registro') }}">Registro</a>
            {% endif %}
        </nav>

        <hr>

    </header>

    <main>

        {% with mensajes = get_flashed_messages(with_categories=true) %}

        {% if mensajes %}

            {% for categoria, mensaje in mensajes %}

                <p>
                    {{ mensaje }}
                </p>

            {% endfor %}

        {% endif %}

    {% endwith %}

    {% block content %}

    {% endblock %}

    </main>

    <hr>

    <footer>

        <p>© 2026 Mi Ecommerce</p>

    </footer>

</body>

</html>